/* Mobile Portrait View */
@media screen and (max-width: 479px){
.ofr img, .offer-wrap .aboutpart img{ width:100%; border:none;}

}
@media screen and (max-width: 767px){
.slider-wrapper{min-height:120px;}
.left, .right{ float:none;}
.header .logo img{ height:auto !important;}
.container{ width:100%;}
.resp-wrap, .innerpage_wrapper{ padding:0 10px;}
.logo{ text-align:center;position:relative; max-width:50%; margin:0 auto;}
.logo, .header_right{ float:none; }
.bookbtn{ font-size:14px !important;}
/*nivo slider*/
.nivo-caption{ width:80%; left:10%; bottom:24%; padding:10px 20px;}
.nivo-caption h2{font-size:16px !important; line-height:22px;}
.theme-default .nivo-directionNav a{ bottom:25%;}
.theme-default a.nivo-prevNav{ left:2%;}
.theme-default a.nivo-nextNav{ right:0;}
section.our-rooms{ text-align:center;}
h2.title-line{ background-position: center bottom;}
.aboutpart, .servicespart{ float:none; width:100%; margin-bottom:2%;}
.ofr{ width:100% !important; }
.ofr img, .offer-wrap .aboutpart img{ float:none; margin:0 0 5%;}
/*latest posts*/
.post-grid{ float:none; margin:0 0 40px; width:100%; text-align:left;}
.post-title-content{ float:none; width:100%;}
/*booking form*/
#bookinform{ width:100%;}
#bookinform label{ float:none; width:100%;}
#bookinform select{ width:98%;}
#bookinform input[type="text"], #bookinform input[type="email"]{ width:91%;}
#bookinform .checkin .fa{ top:30px;}

/*footer*/
#footer{ text-align:center;}
#footer .cols-4{ float:none; width:100% !important; margin:0 0 5% 0; display:inline-block;}
/*copyright*/
.copy-right, .design-by{ float:none; width:100%; text-align:center; line-height:25px;}
/*default css*/
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth, .rooms-list{ float:none; width:100%; margin:0 0 5% !important;}
.rooms-list{ text-align:center;}
.rooms-list span.title, .rooms-list span.price{ float:none; display:block; line-height:25px; }
/*content part css*/
.content-part, .sidebar-right, .contact_info{ float:none; width:100% !important;}
.blog-post .post-thumb{ width:50%;}
.contact_left iframe{ width:94%;}
.contact-form .cf_text, .contact-form .cf_textarea, .contact-form .cf_captcha, .wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form input[type=tel], .wpcf7-form textarea { width:88%;}
.contact-form .cf_captcha{width:46%}
/*gallery css*/
.image-set{ text-align:center;}
.image-set img{ width:90% !important;}
a.example-image-link{ width:100% !important; margin-right:0px !important;}
/*pricing table*/
.pricing_table.pcol1 .price_col{width:100%;}
.pricing_table.pcol2 .price_col{width:100%;}
.pricing_table.pcol3 .price_col{width:100%;}
.pricing_table.pcol4 .price_col{width:100%;}
.pricing_table.pcol5 .price_col{width:100%;}
.highlight{margin-top:10px !important;}

}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
/*nivo slider*/
.slider-wrapper{min-height:180px;}
.nivo-caption h2{font-size:28px !important; line-height:35px;}
.theme-default .nivo-directionNav a{ bottom:35%;}
.ofr{ width:30% !important; }
.ofr img, .offer-wrap .aboutpart img{ float:left; margin:5% 20% 10% 0;}
.left-postthumb{ width:16%;}
.image-set img{ width:90% !important;}
a.example-image-link{ width:50% !important; margin-right:0px !important;}
}


/* Tablet ----------- */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
.container{ width:100%;}
.resp-wrap, .innerpage_wrapper{ padding:0 10px;}
h3{ font-size:24px !important;}
.offer-wrap .slide_toggle{ font-size:16px !important;}
.logo{ float:none; text-align:center;position:relative;}
.header_right{ float:none;}
/*nivo slider*/
.slider-wrapper{min-height:290px;}
.nivo-caption{width:70%; top:25%; left:13%;}
.theme-default .nivo-directionNav a{ bottom:44%;}
.post-grid { width:98%;}
#footer h5{ font-size:18px !important;}

.content-part{ width:60%;}
.sidebar-right{ padding-top:12px;}
#sitemain{width:60%; float:left;}
#sitemain.right{float:right;}
#sitefull{ width:100%;}
.contact-form .cf_text, .contact-form .cf_textarea, .contact-form .cf_captcha, .wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form input[type=tel], .wpcf7-form textarea { width:90%;}
.contact-form .cf_captcha{width:54%}
.contact_left iframe{ width:94%;}
.image-set img{ width:90% !important;}
a.example-image-link{ width:19.8% !important; height:140px !important; }

/*booking form*/
#bookinform{ width:80%;}
#bookinform input[type="text"], #bookinform input[type="email"]{ width:70%;}
/*pricing table*/
.pricing_table.pcol1 .price_col{width:99%;}
.pricing_table.pcol2 .price_col{width:49.5%;}
.pricing_table.pcol3 .price_col{width:33%;}
.pricing_table.pcol4 .price_col{width:24.75%;}
.pricing_table.pcol5 .price_col{width:19.75%;}
}

/*Computer*/
@media only screen and (min-width:1100px) { 
.layout_wide{ width:100% !important; margin-top:0 !important;}
#sitemain{width:780px; float:left;}
#sitefull{ width:100%;}
#sitemain.right{float:right;}
.nivo-caption{width:55%; top:35%;}
/*pricing table*/
.pricing_table.pcol1 .price_col{width:99%;}
.pricing_table.pcol2 .price_col{width:49.5%;}
.pricing_table.pcol3 .price_col{width:33%;}
.pricing_table.pcol4 .price_col{width:24.75%;}
.pricing_table.pcol5 .price_col{width:19.75%;}
}
@media screen and (max-width:1169px) and (min-width:981px) { 
html{overflow-x:hidden; }
.logo{ float:left; position:absolute;}
.header_right{ float:right;}
}

/*Resposive custom css*/
@media screen and (min-width: 550px) and (max-width: 767px){
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth, .rooms-list{ float:left; width:48%; margin:0 1.5% 5% 0 !important;}
.nivo-caption{width:70%; top:25%; left:12%; display:block !important;}
/*booking form*/
}

/*booking form*/
@media screen and (min-width: 440px) and (max-width: 767px){
#bookinform{ width:100%;}
#bookinform label{ float:none; width:100%;}
#bookinform select{ width:98%;}
#bookinform input[type="text"], #bookinform input[type="email"]{ width:95%;}
#bookinform .checkin .fa{ top:30px;}
}
/*Resposive menu css*/
@media screen and (max-width: 980px){
#nav{display:none; background:#1f1f1f; }
#nav ul{list-style:none; }
#nav ul li{float:none; display:block; position:relative; border-top:1px #888 solid;}
#nav ul li ul{ display:block;}
#nav ul li ul li{ border-bottom:none !important;}
#nav ul li a{display:block; padding:8px 10px; border-right:none !important; font-size:14px !important; font-weight:300;}
#nav ul li a:hover{}
#nav ul li ul li a:before{content:"\00BB  ";}
#nav ul li ul li ul li a:before{content:"  \00BB  ";}
#nav ul li ul li a{padding-left:20px; border:none !important;}
#nav ul li ul li ul li a{padding-left:30px;}
#nav ul li ul li ul li ul li a{padding-left:40px;}
#nav ul li:hover > ul{ background-color: transparent !important; width:auto; position: relative;}
#nav ul li:hover ul li ul, #nav ul li:hover ul li:hover > ul, #nav ul li:hover ul li:hover > ul li ul{ display:block; position:relative; left:0;}
}